<div class="h-screen bg-purple-100 flex flex-col">
  <app-navigation></app-navigation>

  <app-section class="grow mt-24">
    <div class="flex flex-row gap-4 items-center">
      <div>
        <div class="font-vidaloka text-[7rem]">Hi, I am</div>
        <div class="font-caveat text-[9rem] -mt-32 ml-4 text-purple-600">
          Ralphine
        </div>
      </div>
      <div
        class="
          relative
          inline-block
          max-w-sm
          m-auto
          before:absolute
          before:bottom-3
          before:left-3
          before:border-[3px] before:border-purple-500
          before:w-full
          before:h-full
        "
      >
        <img src="/assets/images/ralphine.jpg" alt="ralphine" />
      </div>
    </div>
  </app-section>
</div>
